<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>实列-2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/jquery-2.2.2.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Street</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Anna Awesome</td>
                    <td>Broome Street</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Debbie Dallas</td>
                    <td>Houston Street</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>John Doe</td>
                    <td>Madison Street</td>
                </tr>
                <tr>3</tr>
                <tr></tr>
                <td>none</td>
            </tbody>
        </table>
    </div>
</body>
</html>